.CartLink a::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH34FgQWiWEVyYzgTrB9Y3hglD8qj9v-iYpQ&usqp=CAU);
  background-size: cover;
}
.CartLink a {
  display: inline-block;
  padding-left: 50px;
  position: relative;
  margin-left: 15px;
}
