.ProductList .Product {
  display: inline-flex;
  flex-direction: column;
}
.ProductList .Product img {
  width: 300px;
  height: 350px;
  padding: 10px 10px;
  margin: 2px;

  border-radius: 15px;
}
.Product a {
  max-width: 85%;
  text-align: center;
  text-decoration: none;
  color: rgb(86, 4, 4);
  font-size: 20px;
  margin-left: 20px;
}
.Product {
  align-items: flex-start;
  background-color: #f9f9f9;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 10px;
  transition: 2s;
  width: 320px;
}

.Product img {
  width: 300px;
  margin-left: 330px;
}
