.CartList {
  display: inline-block;
}

.CartList .CartItem img {
  width: 100px;
  height: 150px;
}
.CartList .CartItem a {
  color: rgb(120, 60, 14);
  text-decoration: none;
  margin: 10px 15px;
}
