.Layout {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
}
.Layout header {
  flex-basis: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Layout aside {
  flex: 20% 0 0;
  background-color: rgb(191, 156, 121);
  border-radius: 5px;
}
.Layout main {
  flex: 60% 1 1;
  height: 1700px;
}
.Layout footer {
  flex: 80% 0 0;
}
.Categories-h1 {
  color: rgba(66, 3, 3, 0.875);
  text-align: center;
}
