.Layout {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: antiquewhite;

}

.Layout aside {
  flex: 20% 0 0;
  background-color: rgb(173, 133, 228);
  
}
.Layout main {
  flex:80% 1 1 ;
  background-color:cadetblue;
  
}
.Layout footer {
  flex: 100% 0 0;
  background-color: bisque;
}