.Layout {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: antiquewhite;
}
.Layout header {
  flex-basis: 100%;
  padding-right: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Layout aside {
  flex: 20% 0 0;
  background-color: rgb(191, 156, 121);
  border-radius: 5px;
  margin-top: 30px;
}
.Layout main {
  flex: 60% 1 1;
  min-height: 600px;
}
.Layout footer {
  flex: 100% 0 0;
}
.Categories-h1 {
  color: rgba(66, 3, 3, 0.875);
  text-align: center;
  font-size: 30px;
}