.Layout {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: antiquewhite;
}
.Layout aside {
  flex: 20% 0 0;
  background-color: azure;
}
.Layout main {
  flex: 80% 1 1;
  background-color: rgb(168, 160, 255);
  height: 1000px;
}
.Layout footer {
  flex: 100% 0 0;
  background-color: rgb(235, 235, 235);
  height: 40%;
}
