.footer {
  padding: 40px 0;
  color: #151414;
  box-shadow: 0 0 10px rgb(221, 217, 217);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 25%;
  margin-bottom: 40px;
}

.footer-column a {
  text-decoration: none;
  color: #141414;
}

.footer-heading {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 14px;
}

.network-icons {
  display: flex;
  justify-content: space-around;
}

.network-icons .bi {
  width: 40px;
  height: 40px;
  color: #090909;
}

.footer-list li:hover {
  cursor: pointer;
  color: rgba(59, 2, 2, 0.568);
}

.footer-column a:hover {
  color: rgba(59, 2, 2, 0.568);
}

.network-icons .bi:hover {
  cursor: pointer;
  color: rgba(59, 2, 2, 0.568);
}
.info h4 {
  text-align: center;
  font-size: 20px;
  color: #131212;
  margin: 0;
  padding: 15px 0 30px;
}

@media screen and (max-width: 768px) {
  .footer-column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 576px) {
  .footer-column {
    flex-basis: 100%;
  }
}
