.CategoryList {
  color: rgb(24, 24, 139);
  
}
.CategoryList a {
  color: #fff;
  transition: .3s;
  text-decoration: none;
}
.CategoryList ul li {
  text-align: start;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: #fbfbfb;
  font-size: 18px;
  padding: 10px;

}

.CategoryList ul li :hover {
  background-color: #fbfbfb;
  color: rgba(87, 4, 4, 0.659);
  padding: 10px;
  border-radius: 5px;
}