* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.Home .home-header .home-header-img {
  overflow: hidden;
}
.Home .home-header .home-header-img img {
  width: 100%;
  height: 70vh;
  position: relative;
  display: block;
  transition: 5s;
}
.Home .home-header .home-header-img img:hover {
  transform: scale(1.2);
}
.Home .home-header-text {
  color: rgba(69, 3, 3, 0.629);
  text-align: center;
}
.About img {
  width: 80%;
  margin-left: 85px;
  margin-top: 30px;
}
.About h1 {
  color: rgb(90, 52, 3);
  text-align: center;
}
.four-address-h2 {
  text-align: center;
  font-size: 30px;
}
.phone-number-h2 {
  text-align: start;
  font-size: 30px;
}
.number-1 {
  color: black;
  font-size: 20px;
}
.number-2 {
  color: black;
  font-size: 20px;
}
.Category {
  color: #7b241c;
  text-align: center;
}
.Delivery-text {
  text-align: center;
  font-size: 30px;
}
.about-h3 {
  font-size: 30px;
  text-align: center;
}
.about-p{
  text-align: center;
 flex-wrap: wrap;
 margin: 40px 20px 10px;
 padding: 10px 10px;
 font-size: 18px;
 box-shadow: 3px 5px 7px  black;
 background-color: aliceblue;
}