ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 500px;
}
ul a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  background-color: azure;
  margin: 10px 20px;
  padding: 10px 15px;
}
ul li {
  display: inline;
}
.navigation{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0px;
}
.navigation a{
text-decoration: none;
font-family: sans-serif;
color: blue;
display: inline-block;
padding: 10px 15px;
background-color: lavender;
border-bottom: 5px solid tomato;
}
.navigation li{
  display: inline;
}