
.Nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 120px;
}
.Nav ul li a {
  color: #7b241c;
  display: block;
  padding: 15px;
  margin-left: 55px;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}
.Nav a {
  border-radius: 10px;
  color: #40382d;
  box-shadow: inset 0 -5px 0 #682f03;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.Nav a:hover {
  box-shadow: inset 0 -60px 0 #844001, 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #eee7e9;
}
.Nav ul li a:focus {
  color: rgb(235, 230, 230);
  background-color: #301102;
  border-radius: 10px;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.5s;
}
