.sing-btn {
  border-radius: 30%;
  height: 30px;
  flex-wrap: wrap;
}
.Auth .sing {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.Auth span {
  text-align: right;
}
.img-1 {
  width: 100px;
}

.sing a {
  color: #7b241c;
  text-decoration: none;
  padding-right: 10px;
}
.sing-btn {
  border: 3px solid #7b241c;
  color: #7b241c;
  cursor: pointer;
  width: 80px;
  text-align: center;
  background: antiquewhite;
  transition: 0.3s;
}
.sing-btn:hover{
  background: #7b241c;
  color: #fff;
}