.sing-btn {
  border-radius: 30%;
  height: 30px;
  flex-wrap: wrap;
}
.Auth .sing {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
span {
  text-align: center;
  margin-left: 140px;
}
.img-1{
width: 100px;
}